:root {
    /* Define primary colors */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    /* Define neutral colors */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set body styles */
body{
    font-family: Inter, sans-serif;
    font-size: 15px;
    background-color: var(--Off-white);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Set header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1019pX;
    margin-top: 1.5em;
    margin-bottom: 2.3em;
}

/* Set navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    width: 410px;
}

/* Set color for navigation links */
nav > a {
    color: var(--dark-grayish-blue);
}

/* Change color of navigation links on hover and focus */
nav > a:hover,
nav > a:focus {
    color: var(--soft-orange);
}

/* Set grid properties for .item1 */
.item1{
    grid-column: 1 / 3;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 1em;
}

/* Set image properties for .item1 */
.item1 img{
    height: 270px;
    width: 100%;
}

/* Set grid properties for .item1b */
.item1b{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

/* Set font properties for h1 in .item1b */
.item1b div > h1 {
    font-size: 3.6em;
    line-height: 47px;
}

/* Set flex properties for second child div in .item1b */
.item1b div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
}

/* Set button properties in .item1b */
.item1b button {
    width: 170px;
    height: 42px;
    letter-spacing: 6px;
    background-color: var(--soft-red);
    color: var(--Off-white);
    cursor: pointer;
    border: none;
    font-variant: small-caps;
    font-weight: 400;
}

/* Change button background color on hover in .item1b */
.item1b button:hover{
    background-color: var(--Very-dark-blue);
}

/* Set paragraph properties in .item1b */
.item1b p {
    color: var(--dark-grayish-blue);
    line-height: 21px;
}

/* Set grid properties for .item2 */
.item2 {
    grid-column: 3;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Very-dark-blue);
}

/* Set h1 properties for .item2 */
.item2 > h1 {
    color: var(--soft-orange);
    font-size: 32px;
    margin-bottom: 1em;
}

/* Set h2 properties for .item2a */
.item2a  h2 {
    color: var(--Grayish-blue);
    font-size: 19px;
}

/* Change h2 color on hover and focus in .item2a */
.item2a  h2:hover,
.item2a h2:focus{
    color: var(--soft-orange)
}

/* Set paragraph properties for .item2a */
.item2a  p {
    color: var(--dark-grayish-blue);
    line-height: 22px;
    font-size: 15px;
}

/* Set flex properties for .item2a */
.item2a {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
}

/* Set flex properties for .item2-inner-class in .item2a */
.item2a > .item2-inner-class {
    display: flex;
    flex-direction: column;
    gap: .4em;
}

/* Set properties for .hr */
.hr{
    background-color: var(--dark-grayish-blue);
    width: 100%;
    height: 1px;
}

/* Set grid properties for .item3 */
.item3 {
    grid-column-start: 1;
    grid-column-end:  4;
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    
}
 
/* Set flex properties for div in .item3 */
.item3 > div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

/* Set image properties for .footer-img */
.footer-img img {
    width: 150px;
}

/* Set paragraph properties for .item3 */
.item3 p{
    color: var(--dark-grayish-blue);
    line-height: 20px;
    font-weight: 200;
}

/* Set h1 properties for .item3 */
.item3 h1 {
    color: var(--Grayish-blue);
}

/* Set color for h3 in a in .item3 */
.item3 a:has(> h3){
    color: var(--Very-dark-blue);
}

/* Change color of h3 on hover and focus in .item3 */
.item3 h3:hover,
.item3 h3:focus {
    color: var(--soft-red);
}

/* Set flex properties for div in .footer-img */
.footer-img > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Set grid properties for main */
main{
    display: grid;
    grid-template-columns: repeat(3, 320px); 
    grid-column-gap: 2em;
    grid-row-gap: 3em;
}

/* Hide .hidden-on-laptop on laptop */
.hidden-on-laptop{
    display: none;
    width: 100%;
}

/* Set properties for .attribution */
.attribution{
    background-color: var(--Grayish-blue);
    text-align: center;
    width: 100%;
}

/* Set media queries for different screen sizes */
@media screen and (max-width: 1024px) {  

    body{
        height: 100%;
    }

    main{
        grid-template-columns: repeat(3, 270px); 
        grid-column-gap: 1.5em;
        grid-row-gap: 2em;
    }

    header {
        width: 857px;
    }

    nav {
        width: 334px;
    }

    .item1 img{
        height: 350px;
    }
}

@media screen and (max-width: 912px) {
   
    main{
        grid-template-columns: repeat(3, 240px); 
    }

    header {
        width: 770px;
    }

    nav {
        width: 300px;
    }

    .item1 img{
        height: 370px;
    }
    
}

@media screen and (max-width: 853px) {
}

@media screen and (max-width: 820px) {
    main{
        grid-template-columns: repeat(3, 210px); 
    }

    header {
        width: 679px;
    }

    nav {
        width: 270px;
    }
}

@media screen and (max-width: 768px) {
    main{
        grid-template-columns: repeat(3, 205px); 
        grid-row-gap: 1.5em;
    }

    header {
        width: 663px;
    }

    nav {
        width: 270px;
    }
}


@media screen and (max-width: 680px) {
    .hidden-on-mobile{
        display: none;
    }

    .display-on-mobile {
        display: block;  
    }

    #open-menu,
    #close-menu{
        cursor: pointer;  
    }

    #open-menu {
        height: 15px;
    }

    #close-menu {
        position: fixed;
        z-index: 4;
        top: 25px;
        height: 24px;
        width: 24px;
    }

    #menu-icon {
        display: flex;
        justify-content: flex-end;
    }

    body {
        height: 100%;
        width: 100vw;
        padding: 1.5em;
        overflow-x: hidden;
    }

    header{
        width: 100%;
        margin-top: 0;
        display: flex;
        position: relative;
    }

    header img {
        width: 35px;
        height: 25px;
    }

    main {
        grid-template-areas: 'header' ' new' 'bottom';
        width: 100%;
        grid-template